<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/auth_layout}"><head>
    <meta charset="UTF-8">
    <title>Ваша корзина пуста</title>
</head>
<body>
<div layout:fragment="auth_content">
    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-body">
                    <h1>Здесь ничего нет</h1>
                </div>
            </div>
            </div>
    </div>
</div>

</body>
</html>