@import url('https://fonts.googleapis.com/css?family=Numans');

html,body {
    background: url('https://cdnuploads.aa.com.tr/uploads/Contents/2021/01/19/thumbs_b_c_441012a3cfe83a0a9dafe07ff7db9e38.jpg?v=171720') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

a.nav-item.nav-link {
    color: white;
}

.sort {
    cursor: pointer;
    margin-right: 2em;
}
