<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>products</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="product,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${product.getProductName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getCountCustomers()}"></td>
        <td>
            <a th:href="@{'/products/update/' + ${product.getId()}}" type="button" class="btn btn-primary">update</a>
        </td>
        <td>
            <a th:href="@{'/products/details/' + ${product.getId()}}" type="button"
               class="btn btn-outline-info">details</a>
        </td>
        <td>
            <a th:href="@{'/products/delete/' + ${product.getId()}}" type="button"
               class="btn btn-outline-danger">delete</a>
        </td>
    </tr>
</div>
</body>
</html>